@media only screen and (max-width: 480px) {
    .container {
        flex-flow: column wrap;
        margin: 10% 5% 30% 5%;
    }

    .sedan {
        padding: 20% 0% 25% 15%;
        border-radius: 10px 10px 0 0;
    }

    .suv {
        padding: 20% 0% 25% 15%;
    }

    .luxury {
        padding: 20% 0% 25% 15%;
        border-radius:0 0 10px 10px;
    }
    
    p {
        padding: 5% 20% 10% 0%;
    }

    button {
        position: relative;
        top: 50px;
    }
}
