* {
    background-color: hsl(0, 0%, 95%);
}

h1 {
    position: relative;
    top: 15%;
    left: 10%;
    font-family: 'Big Shoulders Display', cursive;
    background-color: transparent;
    color: hsl(0, 0%, 95%);

}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: transparent;
    padding-top: 80px;
    padding-left: 30px;
    line-height: 1.5;
    height: 2cm;
    width: 5cm;
}

img {
    background-color: transparent;
    position: relative;
    top: 10%;
    left: 10%;
}

button {
    position: relative;
    top: 20%;
    left: 10%;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    text-decoration: none;
    padding: 12px 32px;
    font-size: 15px;
    border: solid 2px hsl(0, 0%, 95%);
    border-radius: 30px;
}

button:hover {
    background-color: transparent;
    cursor: pointer;
    color: hsl(0, 0%, 95%);
}

.container {
    display: flex;
    margin: 10% 20% 10% 20%;
}

.sedan {
    padding: 5% 5% 15% 5%;
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.suv {
    padding: 5% 5% 15% 5%;
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    padding: 5% 5% 15% 5%;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

